@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

header {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}

body {
  background-color: #ffefef;
  padding: 3rem;
}

.logo {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  text-align: center;
}

.uvitani {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  text-align: center;
}

.nabidka {
  background-color: white;
  margin: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding: 2rem;
}

.nabidka--nadpis,
.nabidka--popis {
  text-align: center;
}

.nabidka--obrazky {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 1rem;
}

.nabidka--obrazky img {
  display: block;
  width: 30%;
  height: auto;
  height: auto;
  flex: 1;
}

.nabidka--charakteristika {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nabidka--charakteristika p {
  width: 50%;
}

.jidlo {
  display: flex;
  margin: 1rem;
}

.jidlo img {
  width: 40%;
}

button {
  background-color: #ffefef;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}

.jidlo--popis {
  padding: 1rem;
}

.jidlo__vpravo {
  text-align: right;

  order: -1;
}

footer {
  text-align: center;
}
