@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

header {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}

body {
  background-color: #ffefef;
  padding: 3rem;
}

.logo {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  text-align: center;
}

.uvitani {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  text-align: center;
}

.nabidka {
  background-color: white;
  margin: 3rem;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  padding: 2rem;
}

.nabidka--nadpis,
.nabidka--popis {
  text-align: center;
}

.nabidka--obrazky {
  width: 100%;
  display: flex;
}

.nabidka--obrazky img {
  display: inline-block;
  width: 30%;
  margin: 1rem;
}

.nabidka--charakteristika {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nabidka--charakteristika p {
  width: 50%;
}
